<?xml version="1.0"?>
<launch>
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find navigation)/cfg/exploration.rviz" />

  <!-- Run turtlebot house simulation with robot state publisher -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch"/>
  <node name="rsp" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Launch SLAM algorithm: gmapping-->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"/>

  <!-- Launch move base for turtlebot. TODO: include our planner -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch"/>

  <!-- Launch autonomous exploration -->
  <include file="$(find explore_lite)/launch/explore.launch"/>

  
</launch>

